body {
    background-color:lightblue;
}

h1 {
    color: white;
	font-size: 30px;
	font-variant: small-caps;
}

h2 {
    color: ed7d31;
	font-size: 16px;
	font-variant: small-caps;
}

ul {
	display:inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
	width: 100%;
}

#bodyDiv {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

#spacingTable{
	display: inline-block;
	font-family: "Century Gothic", "Times Roman", sans-serif; ;
	padding-top:30px;
	background-color: lightblue;
	width: 100%;
}

#spacingTableBody{
	margin-left: 25px;
	display: inline-block;
	font-family: "Century Gothic", "Times Roman", sans-serif; ;
	padding-top:30px;
	background-color: #f3f3f3;
	border-radius: 25px;
	width: 90%;
}

#navBar{
	display: inline-block;
	float: right;
	margin-left: auto;
}

#logo{
	display: inline-block;
	float: left;
}

#EMPhoto{
	float: left;
	margin-right: auto;
	text-align: center;
}

#EMDesc{
	margin-left: auto;
	float: right;
}

#AwardList{
	float: left;
	text-align: center;
}

#teamPhoto{
	float: right;
}

#scrollBox{
	display: inline-block;
	float: left;
	margin-left: 40px;
	height: 260px;
	overflow-y: scroll;
	width: 55%;
}

#photo{
	display: inline-block;
	float: right;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #2e75b6;
}

.button {
	font-family: "Century Gothic", "Times Roman", sans-serif; ;
    background-color: lightblue;
	border-radius: 12px;
	font-weight: bold;
    border: none;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: lightcyan;
    color: black;
}

#pageDiv{
	font-family: "Century Gothic", "Times Roman", sans-serif; ;
	padding-top:50px;
	width: 100%;
	margin-left: 40px;
	text-align: left;
	font-size: 20px;
}

#table{
	display: inline-block;
	float: left;
	font-family: "Century Gothic", "Times Roman", sans-serif;
	font-size: 12px;
}

